#!/sbin/openrc-run

command="/usr/local/jasem_x_ui/x-ui"
command_background=true
pidfile="/run/jasem_x_ui.pid"
description="jasem_x_ui Service"
procname="x-ui"
depend() {
    need net
}
start_pre(){
    cd /usr/local/jasem_x_ui
}
reload() {
  ebegin "Reloading ${RC_SVCNAME}"
  kill -USR1 $(cat $pidfile)
  eend $?
}